<!-- <link href="/assets/stylesheets/scrolling-nav.css.scss" media="screen" rel="stylesheet" /> -->
​
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="page-scroll" href="#home"><img class="img-responsive" width='180' height='90' src="/assets/swept1.png" alt=""></a>
                <!-- <a class="navbar-brand topnav" href="#">Home</a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-nav">
                     <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                     </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <% if !current_user %>
                        <li>
                            <a href='/clients/new'>Register</a>
                        </li>
                    <% end %>
                    <% if current_user %>
                        <% if session[:login_type] == "option1" %>  
                            <a class="navbar-brand topnav" href="/clients">Profile</a>
                        <% else %>
                            <a class="navbar-brand topnav" href="/contractors">Profile</a>
                        <% end %>
                    <% end %>
                    <% if !current_user %>
                        <li class="dropdown" id="menuLogin">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
                            <div class="dropdown-menu" style="padding:17px;">
                              <form action='/sessions' method='post' class="form" id="formLogin">
                                <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'> 
                                <label for="Email">Email: </label>
                                <input type="email" placeholder="Email" name='client[email]'>
                                <p><label for="Password">Password: </label>
                                <input type="password" placeholder="Password" name='client[password]'></p>
                                <div class="radio">
                                    Login as:
                                  <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    Client
                                  </label>
                                </div>
                                <div class="radio">
                                  <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Contractor
                                  </label>
                                </div>
                                <input type="submit" value='Login'>
                              </form>
                            </div>
                        </li>
                    <% else %>
                        <a class="navbar-brand topnav" href='/sessions/<%= session[:user_id] %>'data-method='delete'>Logout</a>
                    <% end %>    
                            <input type="submit" value='Login'>
                          </form>
                        </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    ​
    <!-- Header -->
    <section id="home" class="home-section">
    <!-- <a name="home"></a> -->
    <div class="intro-header">
        <div class="container">
    ​
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                       <!--  <h1>SweptAway</h1> -->
                        <p id="slogan">Get Your Chores Swept Away</p>
                       <!--  <hr class="intro-divider"> -->
                     <!--    <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#loginClient" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                        </ul> -->
                        <% if flash[:errors] %>
                            <% flash[:errors].each do |error| %> 
                                <h4 class='errors'><li><%= error %></li></h4>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
    ​
        </div>
        <!-- /.container -->
    ​  </div>
    </section>
    <!-- /.intro-header -->
    ​
    <!-- Page Content -->
    <section id="services" class="services-section">
    <!-- <a  name="services"></a> -->
    <div class="content-section-a">
    ​
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Have your dishes washed</h2>
                    <p class="lead">Give yourself more free time</p>
                </div>
                <div class="col-lg-5 col-lg-2 col-md-4">
                    <br>
                    <img class="img-responsive" width='350' height='100' src="/assets/dish.png" alt="">
                </div>
            </div>
    ​
        </div>
        <!-- /.container -->
    </div>
    ​
    <!-- /.content-section-a -->
    <div class="content-section-b">
    ​
        <div class="container">
    ​
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Get your lawn mowed</h2>
                    <p class="lead">Hire someone to mow your lawn while you get to do things that you love</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" width='350' height='100' src="/assets/lawn.png" alt="">
                </div>
            </div>
    ​
        </div>
        <!-- /.container -->
    ​
    </div>
    <!-- /.content-section-b -->
    ​
    <div class="content-section-a">
    ​
        <div class="container">
    ​
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Have your dogs walked</h2>
                    <p class="lead">We'll walk your dog when you're busy with work</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" width='350' height='100' src="/assets/dog.png" alt="">
                </div>
            </div>
    ​
        </div>
        <!-- /.container -->
    ​
    </div>
    </section>
    <!-- /.content-section-a -->
    ​
    <section id="contact" class="contact-section">
    <!-- <a  name="contact"></a> -->
        <div class="banner">
            <div class="container">
    ​
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Connect with us</h2>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-inline banner-social-buttons social2">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                          <!--   <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li> -->
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
    ​
            </div>
        </div>
    </section>
        <!-- /.banner -->
    ​
    <!-- Footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; SweptAway 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>

