<h1>Sessions#show</h1>
<p>Find me in app/views/sessions/show.html.erb</p>


<!DOCTYPE html>
<html>
<head>
	<title>Chore</title>
</head>
<body>
<div class="container">
	<div class="chore_info">
		<p>Name:
		<p>Description:
		<p>Rate:

		

	</div>	








</div>
</body>
</html>

