<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <div class="container" style="padding-top:50px;">
    <div class="panel panel-default">
    <div class="panel-heading"><h2>Register:</h2><a href='/'>Back</a></div>
    <div class="panel-body">
    	<form action='/clients' method='post'>
            <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'>
            <p>Name: <input type='text' name='client[name]'></p>
            <p>Email: <input type='text' name='client[email]'></p>
            <p>Address: <input type='text' name='client[address]'></p>
            <p>City: <input type='text' name='client[city]'> State: <%= render 'layouts/states' %></p>
            <!-- <p>State <input type='text' name='client[state]'></p> -->
            <p>Password: <input type='password' name='client[password]'></p>
            <p>*Password should be at least 8 characters</p>
            <p>Confirm Password: <input type='password' name='client[password_confirmation]'></p>
            <input type='submit' value='Register'>
        </form>
    </div>
    </div>
    </div>
</body>
</html>
    