<!DOCTYPE html>
<html>
<head>
	<title>Contractor Profile</title>
</head>
<body>
<div class="container" style="padding-top:50px;">

<!-- <div class="contractor" style="padding-top:50px;">
 -->

<div class="panel panel-default">
<!-- Default panel contents -->
	<div class="panel-heading">Your Profile (Contractor's)</div>
	<div class="panel-body">
		<p>Accepted Chores</p>
		<table class="table" style="width:400px;">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status/Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="">Mow the lawn</a></td>
					<td>pending</td>
				</tr>
			</tbody>
		</table>  
	</div>
	<div class="panel-body">
		<p>Pending Chores</p>
		<table class="table" style="width:400px;">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status/Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="">Walk the dog</a></td>
					<td>pending</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</body>
</html>




