.table-bordered{
	width: 500px;
}
.form-control{
	width: 300px;
}
.form_rate{
	width: 1000px;
}
.btn-default{
	margin-left: 230px
}
#add_chore{
	display: inline-block;
	vertical-align: top;
	margin-right: 100px;
}
#chore_list{
	display: inline-block;
	vertical-align: top;
}