<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,400italic,300italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

		<!-- google map api for search box to get location,addresses -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnq_fwNZCytzP1F5UVYVrMwNOFrZZjwk&libraries=geometry,places,visualization"></script>
		
		<script>
			$(document).ready(function(){
				$.getJSON("http://ip-api.com/json/?callback=?", function(data) {
		        table_body = "";
		        // console.log("Hi", data)
		        table_body += data.city
		        // console.log(table_body);
						longing = data.lon
				    latty = data.lat
				});
				// $.postJSON( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDGnq_fwNZCytzP1F5UVYVrMwNOFrZZjwk", function( data ) {
				// 	  $( ".result" ).html("<h1>" + data.location + "</h1>" );
				// 	  console.log(data.location);
				// 	});
				var address = 'New York City';
				var url = "http://maps.googleapis.com/maps/api/geocode/json?address="+encodeURI(address)+"&sensor=true";
				$.getJSON(url, function(data) {
			   if(data.status !== "OK") {
			      var lat = "";
			      var long = "";
			      var error = "Address not found!";
			    } else {
			      var lat = data.results[0].geometry.location.lat;
			      var long = data.results[0].geometry.location.lng;
			      var address = data.results[0].formatted_address;
			   }
			   $( ".result" ).html("<h1>" + long + "</h1>" );
			 	});
			});
		</script>
	</head>
	<body>
		<div class='result'>

		</div>
		<div class='row'>
			<div class="col-md-8">
				<div style='width: 100%;'>
				  <div id="map" style='width: 100%; height: 800px;'></div>
				</div>
				<div id="floating-panel">
					 <input id="pac-input" class="controls" type="text" placeholder="City, Address, ZIP">
					 <input type='submit' value='Search'>
				</div>
		</div>
		<!-- 	<div id="map-container">
			  <div id="map-canvas"></div>
			</div> -->
		</div>
	</body>
	<%= render 'layouts/googlemaps' %>
</html>
