<html>
	<head>
	<!-- google map api for search box to get location,addresses -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGnq_fwNZCytzP1F5UVYVrMwNOFrZZjwk&libraries=geometry,places,visualization"></script>
		
		<script>
			$(document).ready(function(){
				$.getJSON("http://ip-api.com/json/?callback=?", function(data) {
		        table_body = "";
		        // console.log("Hi", data)
		        table_body += data.city
		        // console.log(table_body);
						longing = data.lon
				    latty = data.lat
				});

				//Get lat/long of each address using Google Geocode API
				var address = '5027 35th Ave. S. Seattle, WA';
				var url = "http://maps.googleapis.com/maps/api/geocode/json?address="+encodeURI(address)+"&sensor=true";
				$.getJSON(url, function(data) {
			   if(data.status !== "OK") {
			      var lat = "";
			      var long = "";
			      var error = "Address not found!";
			    } else {
			       lat2 = data.results[0].geometry.location.lat;
			       long2 = data.results[0].geometry.location.lng;
			      var address = data.results[0].formatted_address;
			   }
			   $( ".result" ).html("<h1>" + lat2 + long2 + "</h1>" );
			 	});
			});
		</script>
	</head>
	<body>
	<!-- 	<div class='result'>
		</div> -->
		<div class='row' id="content">
			<div class='col-md-8 nopadding1' id='map2'>
				<div id="map" style='width: 100%; height: 850px;'></div>
				<div id="floating-panel">
					 <input id="pac-input" class="controls" type="text" placeholder="City, Address, ZIP">
					 <input type='submit' value='Search'>
				</div>
			</div>
			<div class='col-md-4 nopadding2'>
					<div class="panel-heading" id='chores'><h4>Chores</h4></div>
			<table class="table table-hover">
			  <thead>
			  	<td>#</td>
			  	<td>Name</td>
			  	<td>Description</td>
			  	<td>Location</td>
			  	<td>Pay</td>
			  </thead>
			  <tbody>
			  	<td>1</td>
			  	<td>Walking the dog</td>
			  	<td>Please walk my dog around the park</td>
			  	<td>Gaswork Park</td>
			  	<td>$50</td>
			  </tbody>
			</table>
		</div>
	</body>
	<%= render 'layouts/googlemaps' %>
</html>


				

