
<!DOCTYPE html>
<html>
<head>
	<title>Chores</title>
</head>
<body>
<div class="container" style="padding-top:50px;">
<!-- 	<div class="back" style="text-align:end">
		<a href="/chores">Back</a>
	</div> -->
	<div class="chore_info">
		<div class="panel panel-default">
		<!-- Default panel contents -->
			<div class="panel-heading">Selected Chore</div>
			<div class="panel-body">
				<table class="table" style="width:400px;">
					<tr>
						<th>Name:</th>
						<td>Mow the lawn</td>
					</tr>					
					<tr>
						<th>Description:</th>
						<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</td>
					</tr>
					<tr>
						<th>Rate:</th>
						<td>$10.00</td>
					</tr>

				</table>
				<div class="accept_back_buttons">
					<form action='/requests' method='post' style="display:inline-block;">
					<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					<input type='hidden' name='' value=''>
					<button type='submit'>Accept</button>&nbsp;
					</form>
					<form action='/contractors/' method='get' style="display:inline-block;">
					<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					<input type='hidden' name='' value=''>
					<button type='submit'>Back</button>
					</form>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>


