
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <form action="/" action="get">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type='image' src="/assets/sweptorange.png" class="img-responsive" width='180' height='100' style='margin-top:8px;' alt='Home'>
            </form>
            
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="/chores" method="get" class="navbar-brand topnav">
                        <button type="submit" class="btn colorf btn-sm">Chores</button>
                    <!-- <a class="navbar-brand topnav" href="/chores">Chores</a> -->
                    </form>
                </li>
                <li>
                    <% if session[:login_type] == "option1" %>
                        <a href="/clients"><button type="button" class="btn colorf btn-sm">Dashboard</button></a>
                        <% else %>
                        <a href="/contractors"><button type="button" class="btn colorf btn-sm">Dashboard</button></a>

                    <% end %>
                </li>
                <li>
                    <a href="/clients/<%= session[:user_id] %>"><button type="button" class="btn colorf btn-sm">Profile</button></a>
                </li>
                <li>
                    <% if !current_user %>
                    <li class="dropdown" id="menuLogin">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin"><button type="button" class="btn coloro btn-sm">Login</button></a>
                        <div class="dropdown-menu" style="padding:17px;">
                          <form action='/sessions' method='post' class="form" id="formLogin">
                            <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden'> 
                            <label for="Email">Email: </label>
                            <input type="email" placeholder="Email" name='client[email]'>
                            <p><label for="Password">Password: </label>
                            <input type="password" placeholder="Password" name='client[password]'></p>
                            <div class="radio">
                                Login as:
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Client
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Contractor
                              </label>
                            </div>
                            <input type="submit" value='Login'>
                          </form>
                        </div>
                    </li>
                <% else %>
                    <a href='/sessions/<%= session[:user_id] %>'data-method='delete'><button type="button" class="btn coloro btn-sm">Logout</button></a>
                <% end %>    
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
